
@import url('https://fonts.googleapis.com/css?family=Lato');
/*
	font-family: 'Lato', sans-serif;
*/

/*
	colors
*/
.has-text-navy {
    color: #1976d2;
}
.has-text-purple {
    color: #673AB7;
}

/*
	backgrounds
*/
.has-bg-navy {
    background-color: #1976d2;
}
.has-bg-navy * {
    color: white;
}

.has-bg-image {
    background-image: url("../front-images/jmi_infra.jpg");
    background-size:100% 100%;
}
.has-bg-purple * {
    color: white;
}



* {
    font-family: 'Lato', sans-serif;
}

nav {
    padding: 1em;
}

.navbar-burger {
    border: none;
}

.navbar-brand img{
    height: 56px;
    vertical-align: middle;
}

.navbar-item, .navbar-link {

    border-radius: 5px;
}
body { font-family: sans-serif; }

.footer {
    margin-top: 3em;
}
.navbar-dropdown{
    font-size:1em;
}
/*
	Small screens
*/
@media screen and (max-width: 767px) {
    nav {
        padding: 5px;
    }
    .navbar-brand img {
        height: 48px;
    }
    .navbar-brand{
        width: 100%;
    }
    .navbar-link {
        font-weight: bold;
    }
    .navbar-item {
        font-weight: 100;

    }
    .portrait img{
        height: 128px !important;
        width: 128px !important;
    }
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 5em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    blockquote:after {
        color: #ccc;
        content: close-quote;
        font-size: 5em;
        line-height: 0.1em;
        margin-left: 0.25em;
        vertical-align: -0.7em;
    }
    blockquote p {
        font-size: 1em;
    }
    .paragraph {
        padding: 1em;
    }
}

@media screen and (min-width: 768px) {
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 8em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    blockquote:after {
        color: #ccc;
        content: close-quote;
        font-size: 8em;
        line-height: 0.1em;
        margin-left: 0.25em;
        vertical-align: -0.6em;
    }
    blockquote p {
        font-size: 2em;
    }
    blockquote {
        margin-top: 5em !important;
    }
    .tile article{
        transition: transform 0.15s ease-out;
    }
    .tile article:hover {
        transform: scale(1.05);
    }
}

blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
    display: inline;
    color: #6b6b6b
}

.circle {
    border-radius: 100%;
}

.section-title {
    border-left: solid 7.5px rgba(255, 255, 255, 0.5);
    padding: 0.5em 0.5em;
    margin-bottom: 5em;
}
.section {
    padding-top: 3em;
    padding-bottom: 3em;
}


.parallax {
    /* The image used */
    background: url("../front-images/teachers.jpg");

    /* Set a specific height */
    height: 500px;
    padding: 10px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*FOOTER CODE*/

.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
    /*margin-top: 80px;*/
}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 10px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
    font-size:14px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    margin-left: 3px;
}
