/*=============NAVBAR CODE==============*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
    font-family: 'Lato', sans-serif;
    font-weight:300;
    height: 100%;
}
.dropdown-large {
    position: static !important;

}
.dropdown-menu-large {
    left: 50%;

    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight:300;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}
@media (max-width: 768px) {
    .dropdown-menu-large {
transform: translate(0%,0);
        margin-left: 0 ;

        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}








/*=============NAVBAR CODE ENDS==============*/
#jmilogo{
    height:50px;
    width:50px;
    vertical-align: middle;
    margin-bottom:6px;
    margin-right: 2px;
    margin-left: 0px;
}
#slide1{height:500px;
    background-image:url('../images/slider/slide1.jpg');
    background-size: contain;

    background-repeat: no-repeat;
    background-position: center left;
    vertical-align: middle;

}
#slide2{
    height:500px;
    background-image:url('../images/slider/slide2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: center left;

}
#slide2 p{
    vertical-align: middle;

}
#slide3{
    background-size: contain;
    height:500px;
    background-image:url('../images/slider/slide3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    vertical-align: middle;


}
.carousel {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 20px;
}
body{
    height: 100%;
    width:100%;
    overflow-x: hidden;
}
.row{
    padding: 20px ;
    margin-bottom: 0px;
}
.headingh2{
    padding: 2px 2px;
    margin: 2px;
}
.borderCol{
border: 2px solid #ebebe0;
    border-radius:5px;
    padding: 8px;
    background-color: #ffffff;
}
.borderCol:hover{
    border-top: 5px solid #00ffff;
}
#research{
    background-color:#204060;
    height: 100%;
}
.col-md-4{
    margin-bottom: 5px;
}
.outline{
    border: 2px solid #ffffff;
    color: #ffffff;
}
/*CAROUSEL CODE*/
@media (min-device-width:700px) {
    .carousel-caption{
        margin: 0;
    }
    .textBackground {
        text-align: right;
        vertical-align:middle ;
    }
}


/*FOOTER CODE*/

.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
    /*margin-top: 80px;*/
}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 10px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
    font-size:14px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}


@media (max-width: 600px) {
#titleJMI{
    font-size: 0;
}
.carousel-caption p{
    font-size: 10px;
}
    .carousel-caption a{
        font-size: 10px;
    }
    .carousel-caption h1{
        font-size: 15px;
    }
#myCarousel .container{
    height: auto;
}
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}


.newsCol:hover{
    border:2px solid #8f9296;
}

/*======================hr=================*/
hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {
    content: "\00a0";
}